* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    background-color: #004891;
    width: 100%;
    height: 100vh;
}

.contenedor {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}